<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flower">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvvm.view.activity.KnowFlowerResultActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.MyPostActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.CollectionActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.SettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.CommentActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.PostDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.PublishPostActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.KnowFlowerDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.KnowFlowerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.WallpaperDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.KnowPlantsDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.DailyDiscoveryDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" /> <!-- 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".mvvm.view.activity.SplashActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvvm.view.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvvm.view.activity.SpecialTypeActivity" />
        <activity
            android:name=".mvvm.view.activity.ArticleDetailWebActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.TodayActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mvvm.view.activity.DetailWebActivity"
            android:launchMode="singleTop" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="${applicationId}.BmobContentProvider"
            android:exported="false" />
    </application>

</manifest>